#hero {
    background-blend-mode: normal, multiply;
    background: linear-gradient(rgba(166, 25, 46, 0.6), rgba(166, 25, 46, 0.6)), linear-gradient(to bottom, #f5515f, #9f041b), url("../assets/redcat.jpg") no-repeat;
    background-size: 100%; 
}
.the-three-dives{
      background: -moz-linear-gradient(left, #a6192e 0%,rgb(166, 25, 46) 42%,#9c101b 45%,#040303 45%,rgb(66, 66, 66) 100%);
      background: -webkit-linear-gradient(left, #a6192e 0%,rgb(166, 25, 46) 42%,#9c101b 45%,#040303 45%,rgb(66, 66, 66) 100%);
      background: linear-gradient(to right, #a6192e 0%,rgb(166, 25, 46) 42%,#9c101b 45%,#040303 45%,rgb(66, 66, 66) 100%);
}
.the-three-dives .col3 {
      background-blend-mode: normal, multiply;
      background-image: linear-gradient(rgba(84, 88, 90, 0.6), rgba(84, 88, 90, 0.6)), linear-gradient(rgba(90, 103, 117, 0.3), rgba(90, 103, 117, 0.3)), url("../assets/col3.jpg");
      background-size: 100% 100%; 
}
    
 .the-three-dives .col2 {
      background-color: #fc0606; 
}
    
.the-three-dives .col4 {
      background-blend-mode: normal, multiply, soft-light, multiply;
      background:linear-gradient(to bottom, #353535, rgba(32, 33, 33, 0.05)), linear-gradient(#54585a, rgb(0, 0, 0)), linear-gradient(#54585a, rgba(84, 88, 90, 0.21)), url(../assets/emergingtrendsgerms.jpg) no-repeat;
      background-size: 100%; 
}
.three-slider .first-div {
        height: 333px;
        background-blend-mode: normal, color, overlay, multiply;
        background: linear-gradient(rgba(208, 2, 27, 0.6), rgba(208, 2, 27, 0.6)), linear-gradient(#a6192e, #a6192e), linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(rgba(166, 25, 46, 0.6), rgba(166, 25, 46, 0.6)), url("../assets/cutegirl.jpg") no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
}
.slider2 {
          opacity: 0.59;
          background-blend-mode: multiply, multiply, multiply;
          background-image: linear-gradient(#c7c9c7, #c7c9c7), linear-gradient(to bottom, transparent, #919ba1), linear-gradient(rgba(157, 157, 157, 0.3), rgba(157, 157, 157, 0.3)), url("/assets/images1.jpg"); 
}

.slider3 {
            opacity: 0.59;
            background-blend-mode: multiply, multiply, multiply;
            background-image: linear-gradient(#c7c9c7, #c7c9c7), linear-gradient(to bottom, transparent, #919ba1), linear-gradient(rgba(157, 157, 157, 0.3), rgba(157, 157, 157, 0.3)), url("/assets/images1.jpg");
            background-size: 100% 100%;
}
.sliderdog {
              height: 435px;
              background-blend-mode: normal, multiply;
              background-image: linear-gradient(rgba(166, 25, 46, 0.7), rgba(166, 25, 46, 0.7)), linear-gradient(to bottom, #f5515f, #9f041b); 
  }
            
  .logo-one p {
    opacity: 0.6 !important;
    font-family: AvenirNext !important;
    font-size: 36px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1 !important;
    letter-spacing: 26px !important;
    text-align: left !important;
    color: #ffffff !important;
    padding-top: 126px !important;
}