#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(223deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/doctor-w-dog.jpg) no-repeat;
  background-size: 100%; }

.headerlogo .top-logo {
  margin-left: -17px; }

.hero-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

@font-face {
  font-family: AvenirNext;
  src: url("../fonts/AvenirNextLTPro-Regular.otf"); }

.headerlogo {
  padding-top: 37px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row; }

.headerlogo1 {
  padding-top: 56px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row; }

.logoheader {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

h1 {
  font-weight: bold;
  font-size: 3.4rem; }

.play-logo {
  display: flex;
  flex-direction: row-reverse;
  opacity: 0.9;
  mix-blend-mode: color-dodge;
  font-family: AvenirNext;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.1px;
  color: #fc0606;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 23px;
}
.play-logo p{
  padding-right: 24px
}
.secondnav1 {
  opacity: 0.9;
  font-family: AvenirNext;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.1px;
  text-align: left;
  color: #9d9d9d; }

.secondnav12 {
  mix-blend-mode: screen;
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.57;
  letter-spacing: 0.1px;
  text-align: left;
  color: #9d9d9d; }

.icons {
  opacity: 0.6;
  border-radius: 6px;
  background-color: #333333;
  line-height: 28px;
  width: 40px; }

.secondnav {
  opacity: 0.9;
  font-family: AvenirNext;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.1px;
  text-align: left;
  color: #ffffff; }
  
.secondnav a {
    opacity: 0.9;
    font-family: AvenirNext;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.1px;
    color: #f7f7f7!important;
    text-decoration: none!important;
}
.secondnav a:hover,
.secondnav a:focus,
.secondnav a:active,
.secondnav a:visited,
 {
  opacity: 0.9;
  font-family: AvenirNext;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.1px;
  color: #f7f7f7!important;
  text-decoration: none!important;
}

.secondnav1 a{
  opacity: 0.9;
  font-family: AvenirNext;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.1px;
  text-align: left;
  color: #9d9d9d; }

.secondnav1 a:visited,
.secondnav1 a:hover,
.secondnav1 a:active,
.secondnav1 a:focus{
  opacity: 0.9;
  font-family: AvenirNext;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.1px;
  text-align: left;
  color: #9d9d9d;
  text-decoration: none; 
}
.bgcolor {
  background-color: #fc0606;
  height: 61px; }

.hite {
  height: 449px; }

.three-dives-1 {
  display: flex;
  flex-direction: column;
  padding-left: 53px;
 }

.main-container {
  display: flex; 
}
.div2-div3 a{
  font-family: AvenirNext;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-align: left;
  color: #9d9d9d;
}
.div2-div3 a:active,
.div2-div3 a:visited,
.div2-div3 a:focus,
.div2-div3 a:hover
{
  font-family: AvenirNext;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-align: left;
  color: #9d9d9d;
  text-decoration: none;
}
.div1-further{
  font-family: AvenirNext;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-align: left;
  color: #ff9d9d;
}
.div1-further a{
  font-family: AvenirNext;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-align: left;
  color: #ff9d9d;
}
.div1-further a:hover,
.div1-further a:visited,
.div1-further a:focus,
.div1-further a:active
{
  font-family: AvenirNext;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-align: left;
  color: #ff9d9d;
  text-decoration: none;  
}


.div3 {
  font-family: AvenirNext;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;
 
  color: #ffffff;
}

.div3 a{
  font-family: AvenirNext;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;
  
  color: #ffffff;
  text-decoration: none;
}


.div3 a:hover,
.div3 a:visited,
.div3 a:focus,
.div3 a:active
{
  font-family: AvenirNext;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;
 
  color: #ffffff;
  text-decoration: none;
}


.col1 {
  background-blend-mode: normal, multiply;
  background-image: linear-gradient(rgba(166, 25, 46, 0.7), rgba(166, 25, 46, 0.7)), linear-gradient(to bottom, #f5515f, #9f041b), url("../assets/staring-dof.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.col3 {
  background-blend-mode: normal, multiply;
  background-size: cover;
  background: linear-gradient(rgba(43, 48, 50, 0.6), rgba(43, 51, 54, 0.6)), linear-gradient(rgba(48, 55, 62, 0.3), rgba(90, 103, 117, 0.3)), url(../assets/cuddling.jpg) no-repeat;
  background-size: 100% 100%;
}

.col2 {
  background-color: #fc0606;
}

.col4 {
  mix-blend-mode: multiply;
  background-blend-mode: normal, color, multiply;
  background: linear-gradient(rgba(45, 50, 55, 0.6), rgba(18, 19, 20, 0.6)), linear-gradient(#383c41, #5a6775), linear-gradient(#a49f9f, #9d9d9d), url("../assets/141888_CTX.jpg") no-repeat;
  background-size: 100%;
}

.cat-background {
  background: linear-gradient(rgba(220, 220, 220, 0.6), rgba(214, 214, 214, 0.6)), linear-gradient(rgba(206, 206, 206, 0.3), rgba(208, 208, 208, 0.3)), url(../assets/cat-bc.png) no-repeat;
}
.cat-section-lg {
  transform: rotate(-360deg);
  opacity: 0.69;
  mix-blend-mode: multiply;
  font-family: AvenirNext;
  font-size: 64px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: -1px;
  text-align: left;
  color: #9d9d9d; }

.cat-section {
  mix-blend-mode: multiply;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.2px;
  text-align: left;
  color: #c7c9c7; }

.slider1 {
  background-color: #f7f7f7; }

.red-size {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ff0505; }

.firstslider {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.pt-7 {
  padding-top: 7rem !important; }

.ml-7 {
  margin-left: 10.5rem !important; }

.slider1h4 {
  padding-top: 45px;
  font-family: AvenirNext;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: -0.6px;
  text-align: left;
  color: #5a6775; }

.slider1p {
  padding-top: 20px;
  font-family: AvenirNext;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 0.1px;
  text-align: left;
  color: #5a6775; }

.carouselinicator {
  bottom: 0 !important; }

.slider2-sm-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  mix-blend-mode: screen;
  font-family: AvenirNext;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff; }

.learnmore {
  font-family: AvenirNext;
  font-size: 12px;
  height: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  cursor: pointer; }

.learnmoreicon {
  background-color: #ff0505;
  display: inline-block;
  border-radius: 50%;
  height: 27px;
  width: 27px; }

.slider3-lg-text {
  font-family: AvenirNext;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: -0.8px;
  text-align: left;
  color: #c7c9c7; }

.footer {
  background-color: rgba(155, 155, 155, 0.06);
  height: 100%; }

.footer-menu-last p {
  font-family: AvenirNext;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #8e8e93; }

.redcolor {
  color: #fc0606; }

.socialicons {
  font-size: 25px; }

.socialicons1 {
  margin-left: 20px; }

.footer-menu {
  font-family: AvenirNext;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: left;
  color: #5a6775; }

.slidericon {
  position: absolute;
  display: block;
  top: 96px;
  right: -100px;
  width: 55px;
  height: 55px;
  font-size: 78px;
  color: #c7c9c7; }

.slidericon2 {
  position: absolute;
  display: block;
  top: 122px;
  right: -56px;
  width: 55px;
  height: 55px;
  font-size: 78px;
  color: #c7c9c7; }

.slidericon3 {
  position: absolute;
  display: block;
  top: 134px;
  right: -92px;
  width: 55px;
  height: 55px;
  font-size: 78px;
  color: #c7c9c7; }

.white-color {
  color: #ffffff !important;
  width: 100%;
}

.logo {
  opacity: 0.6;
  font-family: AvenirNext;
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: 39px;
  color: #ffffff; }

.bg-color {
  background-color: rgba(155, 155, 155, 0.06);
  width: 1200px;
}





.indicators {
  bottom: -70px !important;
  background-color: #9d9d9d !important;
  max-width: 12px !important;
  height: 12px !important;
  border-radius: 12px; }

.slider-cap {
  font-family: AvenirNext;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: -0.8px;
  text-align: left;
  color: #c7c9c7; }

.slider-cap-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.slider2 {
  opacity: 0.59;
  background-blend-mode: multiply, multiply, multiply;
  background-image: linear-gradient(#c7c9c7, #c7c9c7), linear-gradient(to bottom, transparent, #919ba1), linear-gradient(rgba(157, 157, 157, 0.3), rgba(157, 157, 157, 0.3)), url("/assets/images1.jpg"); }

.dog-slider {
  font-family: AvenirNext;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: -0.6px;
  text-align: left;
  color: #fc0606; }

.slider3 {
  opacity: 0.59;
  background-blend-mode: multiply, multiply, multiply;
  background-image: linear-gradient(#c7c9c7, #c7c9c7), linear-gradient(to bottom, transparent, #919ba1), linear-gradient(rgba(157, 157, 157, 0.3), rgba(157, 157, 157, 0.3)), url("../assets/dog-paatient.jpg");
  background-size: cover; }

.carousel-indicators li {
  max-width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #9d9d9d !important;
  bottom: -50px; }

.carousel-control span {
  width: 24px;
  height: 24px;
  margin: 0;
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 2px;
  background: rgba(128, 128, 128, 0.5);
  color: rgba(18, 16, 16, 0.5);
  position: relative;
  left: 0;
  top: 0; }

.redslider {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.four {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100px;
  transform: rotate(-360deg);
  mix-blend-mode: screen;
  font-family: AvenirNext;
  font-size: 127px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.28;
  letter-spacing: -2.9px;
  text-align: left;
  color: #fc0606; }

.sliderdog {
  height: 435px;
  background-blend-mode: normal, multiply;
  background-image: linear-gradient(rgba(166, 25, 46, 0.7), rgba(166, 25, 46, 0.7)), linear-gradient(to bottom, #f5515f, #9f041b); }

.text-sm {
  mix-blend-mode: screen;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff; }

.carousel-indicators .active {
  background-color: #fc0606 !important;
  height: 11px !important; }

.opacity {
  opacity: 1!important;
 }

.edu-logo {
  opacity: 0.6;
  font-family: AvenirNext;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: 33px;
  color: #ffffff; }

.learn-more-p {
  color: #ffffff !important;
  padding-right: 4.5%;
  line-height: 38px;
  font-family: AvenirNext !important;
  font-weight: 300 !important;
  font-size: 12px !important;
  width: 170px;
  display: flex;
  padding-top: 36px;
  align-items: flex-end;
  justify-content: flex-end; }

.learn-more div {
  height: 39px;
  width: 39px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #fc0606;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 3px;
  padding-top: 2px;
  margin-top: 25px; }

.learn-more {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 64px;
}
.arrow-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid red;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-img img{
  width: 30px;
  height: 41px;
  padding-left: 6px;
}
.signatureimg img{
  width: 400px;
}
.main-images{
  width: 186px;
  height: 187px;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
}
.main-area{
  max-width: 1319px;
  margin: 0 auto;
}
/*   Subscribing Area   */

.Subscribe {
  font-family: AvenirNext;
  font-size: 34px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: -0.4px;
  text-align: left;
  color: #5a6775;
  padding-top: 54px;
  padding-left: 44px;
}
.bg-color {
  background-color: rgba(155, 155, 155, 0.06);
  width: 1200px;
}
.Subscribe1 {
  font-family: AvenirNext;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5a6775; }
.subscribing-area {
  background: #F7F7F7;
  padding-top: 9rem;
  padding-bottom: 6rem;
}
.second-subscribe {
  padding: 107px 0 66px 0;
}
.computer-area{
  border-bottom: solid 1px #9a9a9a;
  width: 364px;
  text-align: center;
}
.whatsnew{
  font-size: 34px;
}
.main-area-carosel {
  max-width: 1349px;
  margin: 0 auto;
}
.main-area-carosel > div{
  max-width: 1240px;
}
.extea{
  display: flex;
  justify-content: flex-end;
}
.the-three-dives{
  background-color: #fc0606;
}
.main-area {
  max-width: 1319px;
  margin: 0 auto;
}

/* subsribe */

/*  Fining  */
.computer-area{
  border-bottom: solid 1px #9a9a9a;
  width: 364px;
  text-align: center;
}
.whatsnew{
  font-size: 34px;
}
.main-area-carosel {
  max-width: 1349px;
  margin: 0 auto;
}
.main-area-carosel > div{
  max-width: 1240px;
}

.the-three-dives{
  background: #fc0606;
}