body{
    font-family: AvenirNext!important;
    overflow-x: hidden;
    padding: 0px;
    margin:0px;
}
/************************************************* header section start  ***********************************************/
  /* header section start */

.hero-img{
 background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(223deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/man-and-dog.jpg) no-repeat;
  background-size: 100%;
  height: 815px;}

.hero-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
@font-face {
  font-family: AvenirNext;
  src: url("../fonts/AvenirNextLTPro-Regular.otf"); }


/*menu start*/
.custom-container{
  width:1300px!important;
  margin: 0 auto;
}
.header-area{
  width: 1349px !important;
  position: relative;
  margin: 41px auto 0px auto !important;
}
.hero-img .logo-container{
  padding:0px;
  margin:0px;

}
.hero-img .logo-one{
  padding-left:34px;
}
.logo-one img{
  margin-top: 4px;
    margin-left: 6px;
}
.hero-img .logo-one ul{
  list-style-type: none;
  padding-left:8px;
  padding-top:40px;
  padding-bottom:95px;
}
.hero-img .logo-one li a{
  text-decoration: none;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.15;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff;
  font-family: AvenirNext;
}
.hero-img .text-container{
  padding:0px;
}
.hero-img .text-container h4{
  opacity: 0.6;
  font-family: AvenirNext;
  font-size: 43px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: 41px;
  color: #ffffff;
  text-align:right;
  margin-right: -6px;
  padding-top: 2px;
}


.menumain .caption-icons-1 {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 6px;
  background-color: #A6192E;
  line-height: 28px;
  width: 180px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 224px;
}
.menumain .caption-icons-1 .search-nav input {
  width: 99px;
  text-align: center;
  background-color: #A6192E;
  border: none;
  border-bottom: 1px solid #d33f55;
  color: #D33F55;
  margin-right: 10px;
  height: 21px;
}
.menumain .caption-icons-1 .search-nav input::placeholder {
  color: #d33f55;
  opacity: 1;
  font-size: 10px; }
.menumain .caption-icons-1 img {
  width: 21px;
  height: 22px;
  margin: 7px auto;
}
.menumain .caption-icons-1 .search-nav p {
  font-size: 10px;
  width: 103px;
  text-align: right;
  background-color: #A6192E;
  border: none;
  color: #D33F55;
  height: 21px;
  padding-right: 18px;
  margin-right: 10px;
}
.menumain .caption-icons-1 .search-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}
.menumain{
  position: fixed;
  right: 30px;
  z-index: 1;
}

.text-center {
  width: 61.4px;
  opacity: 0.6;
  border-radius: 6px;
  background-color: #333333;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 16px;
  margin-right: 9px;
  z-index: 60;
}
.magnifier a img {
  width: 21px;
  height: 22px;
  margin: 7px auto;
}
.person a img {
  width: 21px;
  height: 22px;
  margin: 6px auto 6px 1px;
}
.chaticon a img {
  width: 33px;
  height: 25px;
  margin: 17px auto 7px auto;
}
.telephone a img {
  width: 23px;
  height: 22px;
  margin: 7px auto;
}
.globe a img {
  width: 27px;
  height: 24px;
  margin: 7px auto 7px 2px;
}

/****************************** computer div ****************************/
.hero-img .computer-div{
  padding-right: 0px;
  padding-left: 0px;
  width: 1300px;
  margin-top: 41px;
}

.hero-img .computer-img{
  width: 254px;
  border-bottom: 1px solid #fff;
  position: relative;
  left: -30px;
  margin-top:43px;
}
.hero-img .computer-img img{
  padding-left: 47px;
  width: 224px;
  height: 90px;
}
.hero-img .computer-div ul{
  list-style-type: none;
  padding-left: 48px;
 padding-top: 6px;
}
.hero-img .computer-div li a{
  text-decoration: none;
  opacity: 0.9;
  font-size: 16px;
  font-family: AvenirNext;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.15;
  letter-spacing: 0.4px;
  text-align: left;
  color: #9d9d9d;
}
.hero-img .computer-div li a:hover{
  color:#ffffff;
}
.hero-img .computer-div .color{
  color:#ffffff;
}
.play-logo {
  display: flex;
  flex-direction: row-reverse;
  mix-blend-mode: color-dodge;
  font-family: AvenirNext;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.1px;
  color: #fff;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 98px 6px 18px 23px;
}
.play-logo p{
  margin-right: 12px;
  font-size: 16px;
  margin-bottom: 2px;
  letter-spacing: 0.5px;
}
.arrow-img {
  width: 118px;
  height: 118px;
  border-radius: 50%;
  border: 4px solid #fff;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
.arrow-img img {
  width: 41px;
  height: 63px;
  padding-left: 6px;
}

.logo-header-div .txt{
  font-family: AvenirNext;
  color: #9d9d9d;
  padding-top: 7px;
  text-align: right;
  padding-right:87px;
}
.play-logo p {
    margin-right: 55px;
    margin-bottom: 26px;
    width: 383px;
    height: 36px;
    opacity: 0.6;
    font-family: AvenirNext;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 33px;
    text-align: left;
    color: #ffffff;
}
/*****************media queries for header ********************************/
@media only screen and (max-width: 640px) {
  .hero-img{
    width:1314px;
  }
  .computer-div {
    display:none;
  }
  .logo-header-div{
    display: none;
  }
  .h-list{
    display:none;
  }
  .text-container{
    display:block;
  }
}
/***************************header section*********************************/

/* start three start */

.the-three-dives .col1 p a{
  width: 336px;
  height: 240px;
  font-family: AvenirNext;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
.the-three-dives .col1 p a:hover,
.the-three-dives .col1 p a:visited,
.the-three-dives .col1 p a:focus,
.the-three-dives .col1 p a:active
{
    font-family: AvenirNext;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: left;
    color: #f26b7f; 
    text-decoration: none!important;
  }
  .two-div-2{
    margin-bottom: 0px !important;
  }
  
  .the-three-dives .two-div-2 a{
    mix-blend-mode: screen;
    font-family: AvenirNext;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: left;
    color: #9d9d9d; 
  }
  .the-three-dives .two-div-2 a:hover,
  .the-three-dives .two-div-2 a:visited,
  .the-three-dives .two-div-2 a:focus,
  .the-three-dives .two-div-2 a:active{
    mix-blend-mode: screen;
    font-family: AvenirNext;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: left;
    color: #9d9d9d; 
    text-decoration: none;
  }
 
  .icons-1 .icons {
    opacity: 0.6;
    border-radius: 6px;
    background-color: #333333;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    width: 36px !important; }
  
  .secondnav {
    opacity: 0.9;
    font-family: AvenirNext;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff; }
  
  .bgcolor {
    background-color: #fc0606;
    height: 61px; }
  .the-three-dives{
        background: #54585a;
  }
  .main-area{
    max-width: 1319px;
    margin: 0 auto;
}
.row-area{
    height: 408px;
}

.main-area .labels {
    display: flex;
    flex-direction: row;
    padding: 80px 44px;
}
.main-area .labels input{
    font-family: AvenirNext;
    font-size: 12px;
    width: 390px;
    border: none;
    padding-bottom: 10px;
    padding-left: 10px;
    background: #f7f7f7;
    border-bottom: solid 1px #d1d1d6;
    outline: none;
}
.main-area .labels input::placeholder{
    font-size: 17px;
}

.main-area .label-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.main-area .label-1 p {
    font-family: AvenirNext;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fc0606;
}



.main-area .label-2 {
    display: flex;
    align-items: center;
    padding-left: 110px;
}
.p-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 11px;
    color: #c7c9c7;}

.main-area .label-3 p {
    font-size: 17px;
    color: #5a6775;
    margin-bottom: 0;
    border-bottom: solid 1px #d1d1d6;
    padding-bottom: 10px;
    margin-left: -10px;
}

.main-area .label-4 {
    width: 130px;
    opacity: 0.6;
    background-color: #54585a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.bgcolor {
    background-color: #fc0606;
    height: 61px; }
.the-three-dives{
    background: #54585a;
}

.main-area div.further-row{
    width: 1275px;
}
.main-area a:hover {
    text-decoration: none;
}
.main-area a {
    text-decoration: none;
}
.archive-area{
  padding-left: 0px !important;
  margin-right: 20px !important;
}
  .the-three-dives .aligninng {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    line-height: 0; }
  
  .the-three-dives .two-div-2 {
    mix-blend-mode: screen;
    font-family: AvenirNext;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: left;
    color: #9d9d9d; 
    margin:0px;}
  
  .the-three-dives .two-div2 {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  }
  .the-three-dives .year{ 
    float: right;
    padding-right: 100px;
  }
  .the-three-dives .year p{ 
   width: 269px;
  height: 36px;
  transform: rotate(-360deg);
  opacity: 0.56;
  mix-blend-mode: screen;
  font-family: AvenirNext;
  font-size: 127px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.28;
  letter-spacing: -6.5px;
  text-align: left;
  color: #c7c9c7;
  }
  
  .the-three-dives .two-div-1 {
    font-family: AvenirNext;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: left;
    color: #ffffff;
  }
  .the-three-dives .two-div-1 {
    font-family: AvenirNext;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: left;
    color: #ffffff;
  }
  
  .two-div1{
    padding: 56px 78px 153px 67px;
  }
  .the-three-dives .two-div1 .three-dives-1 {
    display: flex;
    flex-direction: column;
  }
  .the-three-dives .main-container {
    display: flex;
  }
  
  .the-three-dives .div3 {
    font-family: AvenirNext;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    opacity: 0.6;
    color: #9d9d9d; }
  
  .the-three-dives .col1 {
   background-color: #54585a }
  .icon-up{
   width: 44px;
   height: 44px;
   border: solid 2px #fc0606;
   border-radius: 50%;
   padding-bottom: 20px;


  }
  .icon-up .fa-chevron-up{
    color: red;
    margin-left: 5px;
  }
   .icon-down{
   width: 44px;
   height: 44px;
   border: solid 2px #fc0606;
   border-radius: 50%;
   margin-top: 10px;

  }
  .icon-down .fa-chevron-down{
    color: red;
    margin-left: 5px;
  }

  .the-three-dives .col1 p {
    font-family: AvenirNext;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: left;
    color: #f26b7f; }
  
  .the-three-dives .col1 p:first-child {
    color: #ffffff;
    padding-left: 52px; }

  .the-three-dives .col1 p:nth-last-child(2) {
    color: #ffffff; }
  .the-three-dives .col2 {
    background-color: #fc0606; }
  
.the-three-dives .col4 {
    background-blend-mode: normal, soft-light, multiply;
    background:linear-gradient(rgba(84, 88, 90, 0.8), rgba(84, 88, 90, 0.8)), linear-gradient(230deg, rgba(255, 255, 255, 0.8), rgba(84, 88, 90, 0.8)), url(../assets/hand-shak.jpg)no-repeat;
    background-size: 100%;
    padding-top: 100px; 
}

   /* start three end */ 

/* feature-publication start*/

.feature-publication{
    background-color:  #f7f7f7;
}
.feature-publication .upper-row{
    display: flex;
    flex-direction: row;
    height: 148px;
    padding-left: 79px;
}
.feature-publication .upper-row .feature-header{
    padding-top: 41px;
}
.feature-publication .upper-row .feature-header p{
    width: 288px;
    height: 38px;
    font-family: AvenirNext;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fc0606;

}


.feature-publication .upper-row .feature-header-text{
    width: 412px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 41px;
}



.feature-publication .upper-row .feature-header-text p{
    width: 200px;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 31px!important;
    margin-bottom: 0px;

    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.9;
    letter-spacing: 0.2px;
    text-align: left;
    color: #5a6775;
    border-bottom: 1px solid #d1d1d6;
}
.feature-publication .upper-row .feature-header-text p:first-child{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


}

.feature-publication .upper-row .feature-header-text p:last-child{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.feature-publication .further-row{
    background-color: #ffffff;
    border: solid 1px #f2f2f2;
    display:flex;
    flex-direction: row;

}
.feature-publication .further-row  .image-div{

    opacity: 0.39;
    background-blend-mode: normal, color;
    background-image: linear-gradient(rgba(90, 103, 117, 0.6), rgba(90, 103, 117, 0.6)), linear-gradient(#5a6775, #5a6775);
}
.feature-publication .further-row  .image-div img{
    width: 240px;
    height: 168px;
}
.feature-publication .further-row .col-one{
    width: 700px;
}
.feature-publication .further-row .col-one .archive-text{
    padding: 20px 0 0 30px;
}
.feature-publication .further-row .col-one p:first-child{
    width: 392px;
    font-family: AvenirNext;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #54585a;

}
.feature-publication .further-row .col-one p:nth-child(2){
    font-family: AvenirNext;
    width: 696px;
    font-size: 13px;
    font-weight:normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #b3bdbc;
    padding-left: 30px;
}
.feature-publication .further-row .col-one p:last-child{
    padding-top: 36px;
    font-family: AvenirNext;
    width: 696px;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #b3bdbc;

}
.feature-publication .further-row .col-one span{
    padding-right: 23px;
}
.feature-publication .further-row .col-one p i{
    color:red;
    font-size: 14px;

}
.feature-publication .further-row .col-two{
    width: 325px

}

.feature-publication .further-row .col-two .icon3{
    display: flex;
    padding-left: 69px;
    justify-content: space-between;

}
.feature-publication .further-row .col-two .icon3 .fa{
    font-size: 20px;
}
.feature-publication .further-row .col-two .icon3 p{
    padding:20px 20px 0px 0px;
}
.feature-publication .further-row .col-two p {
    width: 88px;
    height: 21px;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 1px;
    text-align: left;
    color: #c7c9c7;
}
.feature-publication .further-row .col-two .inside-col-two
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 135px;

}
.feature-publication .further-row .col-two .inside-col-two p i
{
    font-size: 10px;
}
.digit-slider-icons {

    color: #ADAFAD;
}

.digit-slider-icons p {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ADAFAD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.digit-slider-icons .p-one {
    width: 40px;
    height: 40px;
    border-radius: 22px;
    background-color: #ADAFAD;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -1px;
    text-align: center;
    color: #ffffff; }

.digit-slider-icons .p-two {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    color: #c7c9c7;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: row;
    padding-right: 120px; }

.digit-icons{
    width: 1349px;
    margin:0 auto;
    padding: 10px 85px 0px 0px;
}

/* feature-publication end*/

/* top resources start*/
.header-text-one {
    width: 538px;
    height: 38px;

}
.header-text-one{
    font-family: AvenirNext;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #54585a;
}


.top-resource .header-text p {
    width: 538px;
    height: 38px;
    font-family: AvenirNext;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fc0606;
}
.top-resource .row-two-links{
    margin-top:57px;

}
.top-resource .header-text p > span {
    color: #54585a;
    padding-left: 28px;
}

.resource-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 14px;
    width: 100%;
    margin-right: 80px;
}
.resource-header p{
    padding-left: 27px;
}
.resource-align{
    display: flex;
    flex-direction: row;
    padding: 0px 43px;

}
.top-resource .label {
    display: flex;
    flex-direction: row;
    margin-left: 141px;
    margin-top:40px;
}

.top-resource .label-1 {
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.top-resource .label-1 p {
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #54585a;
    margin-bottom: 0;
}

.top-resource .label-2 p {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.top-resource .label-3 {
    opacity: 0.6;
    background-color: #54585a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}
.top-resource .label-3 p {
    font-family: AvenirNext;
    font-size: 14.4px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 7px 10px;
    margin: 0;
}
.top-resource .label-3 p span{
    padding-left: 5px;
}
.top-resource .label-4 {
    width: 130px;
    opacity: 0.6;
    background-color: #54585a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.top-resource .label-4 p {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

}
.top-resource .column-1 {
    width: 263px;
    margin-left:175px;
}

.top-resource .column {
    display: flex;
    flex-direction: row;
    padding:84px 0px 28px 534px;
}

.top-resource .column-1 p {
    width: 200px;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282b2c; }

.top-resource .column-1 p span {
    font-family: AvenirNext;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #fc0606;
}
.top-resource .column-2 {

}
.top-resource .column-2 p {
    font-family: AvenirNext;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: -0.1px;
    text-align: left;
    color: #939393;
    width: 221px;
}

.top-resource .column-3{
    width:140px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.top-resource .column-3 p {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: -0.1px;
    text-align: left;
    color: #939393;

}

.top-resource .digit-slider-icons p {
    opacity: 0.6;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #c7c9c7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-resource .digit-slider-icons .p-one {
    width: 44px;
    height: 44px;
    opacity: 0.6;
    border-radius: 22px;
    background-color: #5d5e5d;
    opacity: 0.6;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }

.top-resource .digit-slider-icons .p-two {
    width: 44px;
    height: 44px;
    opacity: 0.6;
    border-radius: 22px;
    color: #c7c9c7;
    opacity: 0.6;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center; }

.top-resource{
    background-color: #f7f7f7;
}


/* list start */
.row-container{
    margin-top:76px;
    margin-left:259px;
    padding-right: 42px;
}
.row-container table{
    width:82%;

    border-collapse: collapse;
}
.row-container table tr{
    border-bottom: 1px solid #e9e9e9;
}
.row-container table td{
    padding: 15px 0px 2px 0px;

}
.row-container table :last-child{
    border-bottom: none;
}
.row-container .fa {
    color:red;
    position:relative;
    right:21px;
    font-size:10px;
}
.row-container .td-last{
    text-align:right;
}
.row-container .text{
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5e6a6e;
}
.row-container .center-txt{
    font-family: AvenirNext;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: -0.1px;
    color: #939393;
    padding-left: 354px;
}
.row-container .rigth-side{
    font-family: AvenirNext;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: -0.1px;
    color: #939393;
}

/* top resources end*/


/*subscribe section start*/
.subscribe-section{
  background-color: #f7f7f7;
}
.subscribe-section .subcribe-text {
  padding-left: 42px!important;
  padding-top: 51px;

}

.subscribe-section .subcribe-text p{
  font-family: AvenirNext;
  font-size: 34px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: -0.4px;
  text-align: left;
  color: #5a6775;
}
.subscribe-section .flexing-spans{
  display: flex;
  justify-content: space-between;
}
.subscribe-section .long-paragraph-p p{
font-family: AvenirNext;
font-size: 12px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.38;
letter-spacing: normal;
text-align: left;
color: #5a6775;
padding-right: 20px;
}
.subscribe-section .long-paragraph-p p:last-child{
  padding-top: 17px;
}
.subscribe-section .hr-line hr{
  margin: 9px 12px 28px 0px;
    height: 2px;
    background-color: #d1d1d6;
}
.subscribe-section .flexing-spans span{
font-family: AvenirNext;
font-size: 14px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.31;
letter-spacing: 0.2px;
text-align: left;
color: #5a6775;
padding-left: 10px;
padding-right: 20px;
}
.subscribe-section .position-end{
  display: flex;
  justify-content: flex-end;
  width: 1309px;
  padding-top: 80px;
  padding-bottom: 81px;
}
.subscribe-section .row{
  margin-right: 0px!important;
  margin-left: 0px!important;
}

.subscribe-section .section-left{
  width: 1216px;
  background-color: rgba(155, 155, 155, 0.06);
  height: 430px;
}
/*subcribe section end*/



/* footer area star */


.foot-area{
  background-color: rgb(239, 238, 238);
  margin: 0px auto 0 auto;
}
.main-container{
  padding: 37px 50px 40px 98px;
}
.footer-area{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 1143px;
  height: auto;
  padding-right: 58px;
  margin:0 auto;
  padding-bottom: 45px;
}

.redcolor p{
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.footer-area .list3 i{
  padding: 53px 0px 0 10px;
  width: 20px;
  height: 16px;

}

.footer {
  background-color: rgba(155, 155, 155, 0.06);
  height: 100%; }

.redcolor {
  color: #fc0606;
  padding-bottom: 20px
}


.footer-menu {

}
.footer-menu p{
  font-family: AvenirNext;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: left;
  color: #5a6775;
  margin-bottom: 2px;
}

.footer-paragraph p{
  width: 222px;
  font-family: AvenirNext;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: left;
  color: #5a6775;
}
.footer-menu1 .text-bold{
  font-weight: bold;
  color: #5A6775;
}

.footer-menu-last p {
  font-family: AvenirNext;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #8e8e93;
  padding-top: 3px;
}
.Copyright-area{
  margin-top: 50px;
  margin-right: 20px;
}
.Copyright-area .footer-menu-last{
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 125px;
  padding-left: 0px;
  padding-right: 0px;
}
.Copyright-area .footer-menu-last .terms{
  display: flex;

}

.Copyright-area .footer-menu-last .terms p{
  font-size: 11px;
  padding: 0 20px;
}
.socialicons {
  font-size: 25px;
  margin-left: 20px;
  color: #fc0606;
}
.socialicon1 {
  font-size: 25px;
  color: #fc0606;
}
.icon-list{
  margin-right: 20px;
}
/* footer area end */
/* media Queries start */

@media only screen and (max-width: 640px){
  .footer-area{
    padding: 40px;
  }
  .foot-area{
    height: auto;
  }
  .footer-area{
    display: flex;
    flex-direction: column-reverse;
  }
  .footer-area .list1{
  }
  .footer-paragraph p{
    width: 100%;
    padding: 0px 20px;
    font-size: 50px;
  }
  .footer-menu p{
    font-size: 50px;
  }
  .redcolor p{
    font-size: 60px;
  }
  .footer-menu1 .text-bold{
    font-size: 60px;
  }
  .socialicons{
    font-size: 70px;
  }
  .socialicon1{
    font-size: 70px;
  }
  .list1{
    margin: 50px;
  }
  .footer-menu-last p{
    padding: 0px;
  }
  .list2{
    display: flex;
    flex-direction: column;
    padding: 0px;

  }
  .list2 p{
    font-size: 40px;
  }

  .Copyright-area .footer-menu-last .terms p{
    font-size: 40px;
    margin: 20px;
  }
  .Copyright-area .reserved{
    padding-left: 0px;

  }
}




  @media only screen and (max-width: 640px){
    
   .bgcolor{
    width: 1349px;
   }
   .the-three-dives{
    width: 1349px;
    height: auto;
   }
}
